$icon-font-path: "../scripts/vendor/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

@import "../scripts/vendor/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/* MailboxJS */

/* Intro section */
#intro {
  background: url('../images/background-3.jpg') no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}

/* Intro login/register form */
.btn-intro-cta {

  span {
    color:#ddd;
    font-size:11px; 
    display:block; 
  }
}