<div ng-controller="MainCtrl as main">
	<uib-alert ng-if="main.alert.get().msg" class="home-alert" type="{{main.alert.get().type}}" close="main.closeAlert()" dismiss-on-timeout="10000">{{main.alert.get().msg}}</uib-alert>

	<section class="home">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Welcome to the mailboxJS</h1>

					<div class="home-buttons">
						<a href="#/" class="btn btn-primary" ng-click="main.openRegisterModal()">
							Create an account
						</a>
						<a href="#/" class="btn btn-success" ng-click="main.openLoginModal()">
							Log in
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>