<div ng-controller="DashboardCtrl as db">
<uib-alert ng-if="db.alert.get().msg" class="dashboard-alert" type="{{db.alert.get().type}}" close="db.closeAlert()" dismiss-on-timeout="10000">{{db.alert.get().msg}}</uib-alert>
<section id="dashboard">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <header class="page-header">
          <div class="row">
            <div class="col-md-6">
              <h1>mailboxJS</h1>
            </div>
            <div class="col-md-6">
              <form>
                <div class="form-group has-success">
                  <label class="control-label"></label>
                  <input class="form-control input-lg" type="text" placeholder="Search for email..." autofocus="autofocus" ng-model="findEmail">
                </div>
              </form>
            </div>
          </div>
        </header>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3 dashboard-sidebar">
        <header>
          <h5>Hello, {{ user.name }}!</h5></header>
        <div class="well">
          <a href="#/dashboard" class="btn btn-block btn-lg btn-primary">
  		      New email 
  		    </a>
          <a href="#/dashboard" class="btn btn-block btn-sm btn-success">
            Inbox <span class="text-right">({{ inbox.length }})</span>
          </a>
          <a href="#/dashboard" class="btn btn-block btn-sm btn-success">
            Sent <span class="text-right">(9)</span>
          </a>
          <a href="#/dashboard" class="btn btn-block btn-sm btn-success">
            Trash <span class="text-right">(0)</span>
          </a>
        </div>
      </div>
      <div class="col-md-9 dashboard-messages">
        <header>
          <h5>Messages</h5>
        </header>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>From</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="{{ msg.status }}" ng-repeat="msg in inbox | filter: findEmail">
              <td>{{ msg.id }}</td>
              <td>{{ msg.title }}</td>
              <td>{{ msg.from }}</td>
              <td>{{ msg.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>