<div ng-controller="DashboardCtrl as db">
<uib-alert ng-if="db.alert.get().msg" class="dashboard-alert" type="{{db.alert.get().type}}" close="db.closeAlert()" dismiss-on-timeout="10000">{{db.alert.get().msg}}</uib-alert>
<section id="dashboard">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <header class="page-header">
          <div class="row">
            <div class="col-md-6">
              <h1>mailboxJS</h1>
            </div>
            <div class="col-md-6">
              <form>
                <div class="form-group has-success">
                  <label class="control-label"></label>
                  <input class="form-control input-lg" type="text" placeholder="Search for email..." autofocus="autofocus">
                </div>
              </form>
            </div>
          </div>
        </header>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3 dashboard-sidebar">
        <header>
          <h5>Hello, {{ user.name }}!</h5></header>
        <div class="well">
          <a href="#/dashboard" class="btn btn-block btn-primary" data-toggle="modal" data-target="#register-form">
  		      New email
  		    </a>
          <ul class="list-group">
            <a href="#">
              <li class="list-group-item">
                <span class="badge">{{ inbox.length }}</span> Inbox
              </li>
            </a>
            <a href="#">
              <li class="list-group-item">
                <span class="badge">2</span> Sent
              </li>
            </a>
            <a href="#">
              <li class="list-group-item">
                <span class="badge">1</span> Trash
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="col-md-9 dashboard-messages">
        <header>
          <h5>Messages</h5>
        </header>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>From</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="msg in inbox">
              <td>{{ msg.id }}</td>
              <td>{{ msg.title }}</td>
              <td>{{ msg.from }}</td>
              <td>{{ msg.date }}</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, explicabo...</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr class="active">
              <td>2</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid.</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, explicabo...</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr class="warning">
              <td>4</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, molestias!</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, explicabo...</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr class="success">
              <td>6</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, perspiciatis?</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, explicabo...</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, explicabo...</td>
              <td>John Doe</td>
              <td>23.03.2016</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>